<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link href="assets/styles/index.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img src="assets/images/logo.svg" alt="Logo" />
        <button type="button" class="hamburguer-menu">
            <img src="assets/images/hamburguer.svg" alt="Hamburguer Menu" />
        </button>
        <nav class="navbar">
            <a href="#" class="link-home">
                Home
            </a>
            <a href="#" class="link-navbar">
                Pokédex
            </a>
            <a href="#" class="link-navbar">
                Legendaries
            </a>
            <a href="#" class="link-navbar">
                Documentation
            </a>
        </nav>
    </header>
    <main>
        <img class="pikachu" src="assets/images/pikachu.svg" alt="pikachu" />
        <div>
        <h1><strong>Find</strong> all your favorite <strong>Pokémon</strong></h1>
        <p>You can know the type of Pokémon, its strengths, disadvantages and abilities</p>
        <a class="link-pokemons" href="#">See Pokémons</a>
        </div>
        <button  type="button">
        <a href="#" class="botao-flutuante">
            <img src="assets/images/pokebola.svg" />
        </a>
        </button>
    </main>
</body>
</html>